@using Register.Enums;
@model UserModel
@{
    ViewData["Title"] = "Edit an user";
}
<div class="text-center">

    <h1>Edit an user</h1>
</div>
<form asp-controller="User" asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
    <label for="name">Name</label>
    <input type="text" asp-for="Name" class="form-control" placeholder="Enter name">
    @Html.ValidationMessageFor(x => x.Name)
    </div>

    <div class="form-group">
        <label for="login">Login</label>
        <input type="text" asp-for="Login" class="form-control" placeholder="Enter phone number">
        @Html.ValidationMessageFor(x => x.Login)
    </div>

    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" asp-for="Email" class="form-control" placeholder="Enter e-mail">
        @Html.ValidationMessageFor(x => x.Email)
    </div>

    <div class="form-group">
        <label for="profile">Profile</label>
        <select asp-for="Profile" class="form-control">
            <option value="">Selecione</option>
            <option value="@ProfileEnum.Admin">Admin</option>
            <option value="@ProfileEnum.User">User</option>
        </select> 
        @Html.ValidationMessageFor(x => x.Profile)
    </div>

  <button type="submit" class="btn btn-primary w-100">Submit</button>
  <a class="btn btn-secondary w-100" asp-controller="User" asp-action="Index" role="button">Back to user list</a>
</form>